<form  method="post" action="/video" id="form">
  <h2>Add Video</h2>
  <label>title</label> <input id="title" name="title" value='多语言测试 - 电影' style="width:500px"> <br>
  <label>description</label> <input id="description" name="description" value='语言测试（内容） - 电影' style="width:500px"> <br>
  <input type="submit" value="Add" id="add" >
  <br>
</form>
