<form  method="post" action="/video" id="form">
  <h2>Add Video</h2>
  <label>title</label> <input id="title" name="title" value='title' style="width:500px"> <br>
  <label>description</label> <input id="description" name="description" value='description' style="width:500px"> <br>
  <input type="submit" value="Add" id="add" >
  <br>
</form>
